@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px;
    width: 90 px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
  }
  
  .sidebar-link {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  
  .sidebar-link:hover {
    background-color: rgb(240, 240, 240);
  }
  
  .sidebar-link img {
    height: 30px;
    margin-bottom: 6px;
  }
  
  .sidebar-link div {
    font-size: 13px;
  }
}

@media (min-width: 1201px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px;
    width: 200 px;
    background-color: white;
    z-index: 200;
    padding-top: 15px;
  }
  
  .sidebar-link {
    width: 200px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 24px;
  }
  
  .sidebar-link:hover {
    background-color: rgb(240, 240, 240);
  }
  
  .sidebar-link img {
    height: 32px;
    margin-right: 24px;
  }
  
  .sidebar-link div {
    font-size: 14px;
  }
}